@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------- colors ------------------*/
.bg-color-name-title {
    background-color: #676767;
}

.ul-menu-color-home {
  background-color: #e67e72;  
}

.ul-menu-color-resume {
  background-color: #9b5976;  
}

.ul-menu-color-contact {
  background-color: #3458db; 
}
.ul-menu-color-download {
  background-color: #525252;  
}
/*-------------------- Special Paddings/Margins/Text ------------------*/
h1
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}


/*-------------------- heading ------------------*/
.heading {
    padding-left: 50px;
}

header {
    margin: 0;
}


.logo {
    background: url("../images/lh-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    padding: 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
    
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuItem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuItem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuItem i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuItem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

/*------------------------------------hover */
.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
}

/*------------------------------------footer */
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
}

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    margin-bottom: 12px; /* LH - so icons have space when they move onto second line */
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;;
}

#footer-details {
    margin: 20px;
}

/*xmlns.social-links li {    
    margin-bottom: 10px;   /* lh */
