@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------- colors ------------------*/
.bg-color-name-title {
    background-color: #676767;
}

.ul-menu-color-home {
  background-color: #e67e72;  
}

.ul-menu-color-resume {
  background-color: #9b5976;  
}

.ul-menu-color-contact {
  background-color: #3458db; 
}
.ul-menu-color-download {
  background-color: #525252;  
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.bg-color-work-history {
  background-color: #9b5976;      
}

/*-------------------- Special Paddings/Margins/Text ------------------*/

h1
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*-------------------- heading ------------------*/
.heading {
    padding-left: 50px;
}

header {
    margin: 0;
}


.logo {
    background: url("../images/lh-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    padding: 0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
    
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuItem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuItem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuItem i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuItem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

/*------------------------------------hover */
.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
}

/*-----------------------------personal info section ------ */

#personal-info-section {
    margin: 0;
}
/*------------------------------------footer */
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
}

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    margin-bottom: 12px; /* LH - so icons have space when they move onto second line */
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;;
}

#footer-details {
    margin: 20px;
}

/*----------------------------- three reasons ----- */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e72;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/*----------------------------- My Skills ----- */

.progress {
    position: relative;
    height: 25px;
}

.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25,25,25,0.2);
}

.progress-section {
    margin: 40px 20px;
}

/*----------------------------- Work History ----- */

.timeline-item {
  padding: 4em 2em 0em 2em;  
  position: relative;
  color: #fafafa;
  border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before{
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after{
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.history-items {
    margin-bottom: 30px;
}
/*----------------------------- Media Queries ----- */

@media(min-width:992px){  
.section-column {
    padding: 0 30px 30px;
    float: none;            /* I had removed this. Three Reasons section column was in-line with Personal Info section column for sizes xs & sm - 
                              float: none was overriding the Bootstrap float: left for col-xs-12 & col-sm-12*/
    display: table-cell;

}
}
@media(max-width:767px){           /* LH - xs only - when reasons are stacked */
.three-reasons-row {
    margin-bottom: 8px;
}
}

/*----------------------------- Personal Info ----- */

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    vertical-align: top;
}

.personal-info-item .key p,
.personal-info-item .value p{
    margin: 0;
}

.personal-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    
}

.personal-info-item .key p {
    font-weight: 700;
}
.personal-info-item .value {
    display: inline-block;
    width: 60%;
    position: relative;
}
